body {
    background: $extraLight;
}

i {
    font-size: 1.5rem;
    padding: 1rem;
}

.topbar {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 0.8rem;
    background: $dark;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    color: $accent;
    z-index: -1;
}

.container {
    padding: 1rem;
    padding-bottom: 4rem;
    margin-top: 1rem;
    margin-bottom: 3.2rem;
    display: flex;
    flex-flow: column;
    max-width: 30rem;
    margin: 0 auto;
}

.container p {
    line-height: 1.4;
    font-size: 1.2rem;
}

// .container img {
//     width: 100%;
// }

.form {
    display: flex;
    flex-flow: column;
    padding: 0.8rem;
    background: linear-gradient($light, $extraLight);
}

.form.new {
    background: linear-gradient($dark, $extraLight);
}

.input {
    margin-bottom: 0.9rem;
    margin-top: 0.2rem;
    background-color: $extraLight;
    color: $dark;
}

.input-label {
    color: $extraLight;
}

.form {
    margin: 1rem;
}

.input i {
    background-color: $accent;
}

.deliveries {
    display: flex;
    flex-flow: column;

}

.delivery {
    background: $light;
    border-radius: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.9rem;
    margin-top: 0.2rem;
}

.delInfo {
    line-height: 0.5rem !important;
    margin: 1rem;
}

//animations

@keyframes moveFromRight {
    from { transform: translateX(100%); }
}

@keyframes moveToRight {
    to { transform: translateX(100%); }
}

.slide-in {
    animation: moveFromRight 0.4s ease both;
}

.slide-out {
    animation: moveToRight 0.4s ease both;
}

.artObj {
    padding: .9rem;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.wordcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.fade-in {
    animation: fade-in 1s ease-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.intro {
    font-family: $font-body;
    font-size: 1rem;
    padding: 1rem;
    background: $extraLight;
    border: 1px solid $dark;
    margin-bottom: 1rem;
}

.introstep {
    // padding: 1rem;
    margin: 1rem;
}

.frontBtnContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: .9rem;
}

.stepTitle {
    font-family: $font-titles;
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: .6rem;
    display: block !important;
}

.stepDesc {
    font-family: $font-body;
    font-size: 1rem;
    background: $lighter;
    padding: .9rem;
}

.imgThumb {
    width: 50%;
    object-fit: contain ;
}

#cameraImg {
    width: 50%;
}

.logo {
    padding-top: 0.5rem;
    width: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // background-image: url("../src/WIVIwhite-02.png");
    background: url("https://jakobsvensson.github.io/WIVI/src/WIVIwhite-02.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 4rem;
}

.titlecontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.linebreak {
    width:100%;
}

.artcontainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.favcontainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: .5rem;
}

.archiveContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.archiveObject {
    width: 80%;
}

.archiveImg {
    width: 100%;
}

.archiveTitle {
    text-align: center;
    padding: 1.5rem;
    margin-top: -1.1rem;
}

.diagonal {
	background: linear-gradient(45deg, white, white);
    transform: skewY(60deg);
    height: 300vw;
    z-index: -4;
    width: 160%;
}
.diagBG {
    background-color: black;
    z-index: -2;
    mix-blend-mode: difference;
}
.content { 	
	// max-width: 50em;
    // margin: 0 auto; 
    // transform: skewY(-60deg);
    // padding: 3rem;
    overflow: hidden;
    height: 100vh;
}
.splashtitle { 	
	max-width: 50em;
    margin: 0 auto;
    font-family: $font-titles;
    font-size: 2rem;
    margin-top: 0;
    color: white;
    padding-bottom: 1rem;
    mix-blend-mode: difference;
    padding: 3rem;
    padding-left: 3.9rem;
    width: clamp(10rem, 20rem, 20rem);
}

.bgtext {
    font-family: $font-titles;
    font-size: 1rem;
    padding-bottom: 2rem;
    color: black;
    max-width: 40em;
    z-index: -1;
    padding-top: 0rem;
    width: 20rem;
    margin: 0 auto;
}

.splashlogo {
    padding-top: 0.5rem;
    width: 10rem;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url("https://jakobsvensson.github.io/WIVI/src/WIVI-01.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.diagBtn {
    font-family: $font-titles;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    background: linear-gradient($dark 1%,black);
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 10rem;
    margin: auto;
    display: block;
    z-index: 7;
    position: relative;
}
.diagBtn:hover {
    background: linear-gradient($extraLight 1%, white);
    border: 2px solid $dark;
    color: black;
}
// .logocontainer {
//     position: relative;
// }

// .splashlogo:before {
//     position: relative;
//     content: "";
//     padding-top: 0.5rem;
//     width: 7rem;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     height: 7rem;
//     background: url("https://jakobsvensson.github.io/WIVI/src/WIVI-01.png");
//     background-size: contain;
//     background-position: center;
//     background-repeat: no-repeat;
//     mix-blend-mode: overlay;
// }
// .splashlogo:after {
//     position: relative;
//     content: "";
//     padding-top: 0.5rem;
//     width: 7rem;
//     margin-left: auto;
//     margin-right: auto;
//     height: 7rem;
//     background: url("https://jakobsvensson.github.io/WIVI/src/WIVIwhite-02.png");
//     background-size: contain;
//     background-position: center;
//     background-repeat: no-repeat;
//     mix-blend-mode: overlay;
// }