$font-titles: 'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;
$bodysize: 0.8rem;

$light: #cbcae0;
$lighter: #cbcae0;
$extraLight: #F5F5F5;
$dark: #232020;
$accent: #cbcae0;
$ligthAccent: #DCEAF9;